@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* .body{
  position:relative; 
} */
:root{
  --red: #e50916;
  --white:#fff; 
  --header-height:70px;
  --header-height-mobile:150px;
  --dark-bg:#221f1f;
  --light-bg:#5c5b5b; 
  --transparent-bg:rgba(20, 20, 20, 0.7);
}
a{
  text-decoration: none;
}
body{
  background-color: var(--dark-bg);
}

.about-container{
  padding:20px;
}
.about-container p{
  margin-top:20px;
}



